/** dialog **/
dialog {
    position:   fixed;
    margin:     0 auto;
    top:        50%;
    transform:  translateY(-50%);
    max-width:  85%;
    max-height: 85%;
    box-shadow: 0px 10px 13px -7px Black;
    z-index:    999999;
}

dialog::backdrop {
    cursor: pointer;
}

dialog > form {
    padding: 48px 64px;
}

dialog button[value="cancel"] {
    --size:     24px;
    --position: 16px;

    position:   absolute;
    top:        var(--position);
    right:      var(--position);
    width:      var(--size);
    height:     var(--size);
    font-size:  var(--size);
    background: none;
    border:     none;
    outline:    none;
    cursor:     pointer;
}

dialog .content {
    font-size:   24px;
    font-family: consolas, monospace;
    text-align:  justify;
}

dialog .content > h2 {
    margin-bottom: 24px;
}

